{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Eduport- LMS, Education and Course Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/font-awesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/tiny-slider/tiny-slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/glightbox/css/glightbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'assets/vendor/choices/css/choices.min.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

	    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets\vendor\datatables.net-bs4\css\dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets\vendor\data-table\css\buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets\vendor\datatables.net-responsive-bs4\css\responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets\vendor\data-table\extensions\buttons\css\buttons.dataTables.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="{% static 'static/assets/css/style1.css' %}">
	<link id="style-switch" rel="stylesheet" type="text/css" href="{% static 'assets/css/style1.css' %}">

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>
<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>
	{% block content %}
	{% endblock %}
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

<!-- Bootstrap JS -->
<script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'assets/vendor/purecounterjs/dist/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/tiny-slider/tiny-slider.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.js' %"></script>
<script src="{% static 'assets/vendor/choices/js/choices.min.js' %}"></script>

<!-- data-table js -->
<script src="{% static 'assets\vendor\datatables.net\js\jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets\vendor\datatables.net-buttons\js\dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets\vendor\data-table\js\jszip.min.js' %}"></script>
<script src="{% static 'assets\vendor\data-table\js\pdfmake.min.js' %}"></script>
<script src="{% static 'assets\vendor\data-table\js\vfs_fonts.js' %}"></script>
<script src="{% static 'assets\vendor\datatables.net-buttons\js\buttons.print.min.js' %}"></script>
<script src="{% static 'assets\vendor\datatables.net-buttons\js\buttons.html5.min.js' %}"></script>
<script src="{% static 'assets\vendor\datatables.net-bs4\js\dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets\vendor\datatables.net-responsive\js\dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets\vendor\datatables.net-responsive-bs4\js\responsive.bootstrap4.min.js' %}"></script>
<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', (e) => {
    const requiredFields = form.querySelectorAll('.form-input[required]');
    let hasError = false;

    requiredFields.forEach((field) => {
      if (!field.value.trim()) {
        field.classList.add('form-error');
        hasError = true;
      } else {
        field.classList.remove('form-error');
      }
    });

    const declarationCheckbox = form.querySelector('.form-checkbox');
    if (!declarationCheckbox.checked) {
      declarationCheckbox.classList.add('form-error');
      hasError = true;
    } else {
      declarationCheckbox.classList.remove('form-error');
    }

    if (hasError) {
      e.preventDefault();
    }
  });
</script>
<!-- Template Functions -->
<script src="{% static 'assets/js/functions.js' %}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</body>
</html>