<!-- =======================
Footer START -->
{% load static %}
<footer class="pt-5 bg-light">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<!-- logo -->
				<a class="me-0" href="/">
					<img class="light-mode-item h-70px" src="{% static 'assets/images/logo_new.png' %}" alt="Skilllinx training logo">
				</a>
				<p class="my-3">Skilllinx Training offers comprehensive training solutions to help individuals and organisations unlock their full potential and achieve their goals.</p>
				<!-- Social media icon -->
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="#" aria-label="faccebook"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="#" aria-label="instagram"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-twitter" href="#" aria-label="twitter"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-linkedin" href="#" aria-label="linkedin"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-6">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Company</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About us</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'terms' %}">Terms and Conditions</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'privacy' %}">Privacy Policy</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact US</a></li>

						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Services</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="{% url 'pp' %}">Public Programs</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'ct' %}">Customised Training</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'research' %}">Research</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'consult' %}">Consulting</a></li>
								<li class="nav-item"><a class="nav-link" href="{% url 'inhouse_train' %}">In-House Training</a></li>

						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-4">
						<h5 class="mb-2 mb-md-4">Quick Links</h5>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="https://www.Skilllinx.net/location/1/London">Training Courses in London</a></li>
							<li class="nav-item"><a class="nav-link" href="https://www.Skilllinx.net/location/2/Dubai">Training Courses in Dubai</a></li>
								<li class="nav-item"><a class="nav-link" href="https://www.Skilllinx.net/location/3/Kuala-Lumpur">Training Courses in Kuala Lumpur</a></li>
							<li class="nav-item"><a class="nav-link" href="https://www.Skilllinx.net/location/4/Istanbul">Training Courses in Istanbul</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Widget 2 END -->

			<!-- Widget 3 START -->
			<div class="col-lg-3">
				<h5 class="mb-2 mb-md-4">Contact</h5>
				<!-- Time -->
				<p>London (W1W 5PF) Office
167-169 Great Portland Street
5th Floor
London
W1W 5PF</p>
<p>00447889434532</p>

				<p class="mb-0">Email:<span class="h6 fw-light ms-2">support@Skilllinx.net</span></p>

				<div class="row g-2 mt-2">
					<!-- Google play store button -->

					<!-- App store button -->

				</div> <!-- Row END -->
			</div>
			<!-- Widget 3 END -->
		</div><!-- Row END -->

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="py-3">
			<div class="container px-0">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-md-left">
					<!-- copyright text -->
					<div class="text-primary-hover"> Copyrights <a href="/" class="text-body">©2023 Skilllinx Training</a>. All rights reserved. </div>
					<!-- copyright links-->
					<div class="justify-content-center mt-3 mt-lg-0">
						<ul class="nav list-inline justify-content-center mb-0">
							<li class="list-inline-item">
								<!-- Language selector -->

							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->