<!-- Header START -->
{% load static %}
<header class="navbar-light navbar-sticky header-static">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="/">
				<img class="light-mode-item navbar-brand-item" src="{% static 'assets/images/logo_new.png' %}" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="{% static 'assets/images/logo_new.png' %}" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll mx-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link active" href="/" id="demoMenu" aria-haspopup="true" aria-expanded="false">Homepage</a>
					</li>

					<!-- Nav item 2 Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<!-- Dropdown submenu -->
							{% for cat in cat %}
							<li> <a class="dropdown-item" href="{% url 'category_detail' cat.slug %}">{{cat}}</a></li>
							{% endfor %}
						</ul>
					</li>

					<!-- Nav item 3 Account -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="accounntMenu">Services</a>
							<ul class="dropdown-menu " aria-labelledby="accounntMenu">
										<!-- Dropdown submenu -->
								<li> <a class="dropdown-item text-dark" href="{% url 'pp' %}">Public Training Programms</a> </li>
								<li> <a class="dropdown-item text-dark" href="{% url 'ct' %}">Customised Training</a> </li>
								<li> <a class="dropdown-item text-dark" href="{% url 'research' %}">Research</a> </li>
								<li> <a class="dropdown-item text-dark" href="{% url 'consult' %}">Consulting</a> </li>
								<li> <a class="dropdown-item text-dark" href="{% url 'inhouse_train' %}">In-House Training</a> </li>
							</ul>
					</li>

					<!-- Nav item 4 Component-->
					<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
				</ul>
				<!-- Nav Main menu END -->

				<!-- Nav Search START -->
				<div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
					<div class="nav-item w-100">
						<form method="get" action="{% url 'results' %}" class="position-relative">
							<input class="form-control pe-5 bg-transparent" name="search_query" type="search" placeholder="Search" aria-label="Search">
							<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
						</form>
					</div>
				</div>
				<!-- Nav Search END -->
			</div>
			<!-- Main navbar END -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->