{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eduport - LMS, Education and Course Theme</title>

</head>

<body>

{% block content %}
{% include 'header.html' %}

<!-- =======================
Page Banner START -->
<section class="py-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 pb-0 text-center rounded-3">
					<h1 class="m-0" style="color:#00008B;">In-House Training</h1>
					<!-- Breadcrumb -->
							<div class="d-flex justify-content-center">
										<nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&quot;);" aria-label="breadcrumb" class="text-center">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://www.Skilllinx.net/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">In-House Training</li>
  </ol>
</nav>
	</div>
				</div>

			</div>
		</div>

	</div>


</section>
<!-- =======================
Page Banner END -->


<section class="pb-0 pt-0 ">
<div class="container">

    <!-- Filter bar START -->
    {% include 'filter.html' %}
    <!-- Filter bar END -->
</div>

</section>



<!-- =======================
Page intro END -->
<!-- =======================
Page content START -->
<section class="pt-0">
	<div class="container" data-sticky-container="">





		<div class="row g-4">
			<!-- Main content START -->
			<div class="col-xl-12">

				<div class="row g-4">
					<!-- Title START -->




					<!-- About course START -->
					<div class="col-12">
						<div class="card border">




							<!-- Card body START -->
							<div class="card-body">




<center>
<img class="rounded" src="https://www.Skilllinx.net/assets/images/in-house-training.jpg" alt="Research" width="100%&quot;/"></center>

<p></p><h3>In-House Training</h3> <p></p>


  <p style="text-align: justify; line-height:22px;">

In addition to our scheduled professional training programmes and seminars, Skilllinx, has produced hundreds of <strong>In-House Courses</strong>. These In-House Courses accommodate your needs when groups of professionals require training. Whatever the topic, we can fulfill your training needs.




			      </p>
			      <p style="text-align: justify; line-height:22px;">

			      Most of the training Courses described in this  category  can be offered "in-House Training" in English or Arabic and are then designed to effectively and economically meet the specific needs of the client. Skilllinx can also design and offer <strong>"in-House Training" </strong> Courses and Seminars on subjects that are not listed in this directory.</p>     <p style="text-align: justify; line-height:22px;"></p>
			      <p style="text-align: justify; line-height:22px;">
			   <strong>in-House Training</strong> benefit the client because they:

</p><ul class="bullet_list" style="text-align: justify; line-height:22px;">
			<li>
				Include specially designed cases and exercises, which apply to the client's situation.</li>
			<li>
				Address issues specifically related to the organization.</li>
			<li>
				Are cost effective. &nbsp; &nbsp;</li>
			<li>
				Build team spirit among the program participants.</li>
			<li>
				Enable the organization to select the proper mix of participants to ensure maximum benefit.</li>
		</ul>




<p></p>












</div>






							</div>


							<!-- Card body START -->
						</div>
					</div>
					<!-- About course END -->






</div></div></div>
</section>
<!-- =======================
Page content END -->

{% include 'footer.html' %}
{% endblock %}


</body>
</html>