{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eduport - LMS, Education and Course Theme</title>

</head>

<body>

{% block content %}
{% include 'header.html' %}

<!-- =======================
Page Banner START -->
<section class="py-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 pb-0 text-center rounded-3">
					<h1 class="m-0" style="color:#00008B;">Public Programs</h1>
					<!-- Breadcrumb -->
							<div class="d-flex justify-content-center">
										<nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&quot;);" aria-label="breadcrumb" class="text-center">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://www.Skilllinx.net/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Public Programs</li>
  </ol>
</nav>
	</div>
				</div>

			</div>
		</div>

	</div>


</section>
<!-- =======================
Page Banner END -->


<section class="pb-0 pt-0 ">
<div class="container">

    <!-- Filter bar START -->
    {% include 'filter.html' %}
    <!-- Filter bar END -->
</div>

</section>



<!-- =======================
Page intro END -->
<!-- =======================
Page content START -->
<section class="pt-0">
	<div class="container" data-sticky-container="">





		<div class="row g-4">
			<!-- Main content START -->
			<div class="col-xl-12">

				<div class="row g-4">
					<!-- Title START -->




					<!-- About course START -->
					<div class="col-12">
						<div class="card border">




							<!-- Card body START -->
							<div class="card-body">


<img class="rounded" src="https://www.Skilllinx.net/assets/images/public_programs.jpg" alt="Public Programs" width="100%&quot;/">



<p></p><h3>Public Programs</h3> <p></p>


 <p style="text-align: justify; line-height:22px;">

				Skilllinx Training Programs have been developed and are continually updated, based not only on the latest international Management principles and practices, but also on field research, first-hand experience, in-depth knowledge of the region and the specific requirements of organizations.
Public training  Programs  are open to participants from any organization. These participants have the opportunity to concentrate on their learning away from the job and without the pressures of day-to-day work. Participants also benefit from sharing experiences with people from other organizations and gain a new perspective on common problems.


			      </p>

  				<p style="text-align: justify; line-height:22px;">

						Public training  Programs  are open to participants from any organization. These participants have the opportunity to concentrate on their learning away from the job and without the pressures of day-to-day work. Participants also benefit from sharing experiences with people from other organizations and gain a new perspective on common problems. Skilllinx relies on a variety of training and facilitation methods and techniques. Used whenever applicable, these methods are aimed at enhancing individual and group interaction while maximizing learning. Some of these methods are:



				</p><ul class="bullet_list" style="text-align: justify; line-height:22px;">
			<li>
				Brief presentations by the consultant.</li>
			<li>
				Group debriefs.</li>
			<li>
				Individual and team exercises, indoors and outdoors.</li>
			<li>
				Behavior modeling and role-plays.</li>
			<li>
				One-to-one and group discussions.</li>
			<li>
				Case studies, simulations and small projects.</li>

			<li>
				Individual action plans (to follow up and evaluate training results).</li>
		</ul>


				<p></p>

				<p style="text-align: justify; line-height:22px;">




			To ensure the concepts and skills introduced in our  Programs  are duly transferred to the workplace, Skilllinx is ready to incorporate an "action plan" section at the end of any training program. This section will constitute an integral part of the training and will be completed by the participants before the closing of the program.
				</p>
















</div>






							</div>


							<!-- Card body START -->
						</div>
					</div>
					<!-- About course END -->






</div></div></div>
</section>
<!-- =======================
Page content END -->

{% include 'footer.html' %}
{% endblock %}


</body>
</html>