{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eduport - LMS, Education and Course Theme</title>

</head>

<body>

{% block content %}
{% include 'header.html' %}

<!-- =======================
Page Banner START -->
<section class="py-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 pb-0 text-center rounded-3">
					<h1 class="m-0" style="color:#00008B;">Research</h1>
					<!-- Breadcrumb -->
							<div class="d-flex justify-content-center">
										<nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&quot;);" aria-label="breadcrumb" class="text-center">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://www.Skilllinx.net/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Research</li>
  </ol>
</nav>
	</div>
				</div>

			</div>
		</div>

	</div>


</section>
<!-- =======================
Page Banner END -->


<section class="pb-0 pt-0 ">
<div class="container">

    <!-- Filter bar START -->
    {% include 'filter.html' %}
    <!-- Filter bar END -->
</div>

</section>



<!-- =======================
Page intro END -->
<!-- =======================
Page content START -->
<section class="pt-0">
	<div class="container" data-sticky-container="">





		<div class="row g-4">
			<!-- Main content START -->
			<div class="col-xl-12">

				<div class="row g-4">
					<!-- Title START -->




					<!-- About course START -->
					<div class="col-12">
						<div class="card border">




							<!-- Card body START -->
							<div class="card-body">


<center>
<img class="rounded" src="https://www.Skilllinx.net/images/research.jpg" alt="Research" width="100%&quot;/"></center>

<p></p><h3>Research</h3> <p></p>




 <p style="text-align: justify; line-height:22px;">


								  					The research carried out by Skilllinx focuses on studies related to Management in the World. Much of our research is conducted with practicing managers and executives whose involvement helps in shaping and supporting particular studies.




			      </p>



				  <p style="text-align: justify; line-height:22px;">

									It is not possible to predict what the future holds but the more knowledge you gain in understanding the dynamics, probabilities and trends, the more likely that your decisions will result in a favourable outcome.



				  </p>

  			<p style="text-align: justify; line-height:22px;">
				Whether identifying opportunities, maximising resources or minimising risk, Skilllinx provides comprehensive advice with solid solutions from concept to completion.



			</p>
				<p style="text-align: justify; line-height:22px;">
							Our research synthesizes international Management literature by significant thinkers, scholars and practitioners world-wide. The authors tackle five related questions:

					</p><ul class="bullet_list" style="text-align: justify; line-height:22px;">
			<li>
				What influence do early childhood years have on 			leadership development and success?</li>
			<li>
				What are the specific life experiences that contribute to leadership success?</li>
			<li>
				How do leaders with potential become outstanding?</li>
			<li>
				What critical paths must leaders follow on their journey to success?</li>
			<li>
				What must great leaders do exceptionally well to become and remain outstanding?</li>
		</ul>



				<p></p>











</div>






							</div>


							<!-- Card body START -->
						</div>
					</div>
					<!-- About course END -->






</div></div></div>
</section>
<!-- =======================
Page content END -->

{% include 'footer.html' %}
{% endblock %}


</body>
</html>