{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eduport - LMS, Education and Course Theme</title>

</head>

<body>

{% block content %}
{% include 'header.html' %}


<!-- =======================Main Banner START -->
<section class="py-0">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-4 pb-0 text-center rounded-3">
					<h1 class="m-0" style="color:#00008B;">Terms and Conditions</h1>
					<!-- Breadcrumb -->
							<div class="d-flex justify-content-center">
										<nav style="--bs-breadcrumb-divider: url(&quot;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&quot;);" aria-label="breadcrumb" class="text-center">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="https://www.Skilllinx.net/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
  </ol>
</nav>
	</div>
				</div>

			</div>
		</div>

	</div>


</section>
<!-- =======================-->

<!--=======================-->
<section class="pb-0 pt-0 ">
    <div class="container">

        <!-- Filter bar START -->
        {% include 'filter.html' %}
        <!-- Filter bar END -->
    </div>

</section>
<!--======================-->

<section class="pt-0">
	<div class="container" data-sticky-container="">





		<div class="row g-4">
			<!-- Main content START -->
			<div class="col-xl-12">

				<div class="row g-4">
					<!-- Title START -->




					<!-- About course START -->
					<div class="col-12">
						<div class="card border">




							<!-- Card body START -->
							<div class="card-body">





<p></p><h3>Terms and Conditions</h3> <p></p>


			<p style="text-align: justify;"><strong>Definitions</strong></p>

<ul>
	<li style="text-align: justify;"><strong>Participant:</strong> an individual or representative scheduled to attend the Training.</li>
		<li style="text-align: justify;"><strong>Customer:</strong> the person or firm who purchases the Training from Skilllinx Training and Development.</li>

</ul>
<p style="text-align: justify;"><strong>A-Acceptance of Registration Requests and Invoicing</strong></p>

<ol>
	<li style="text-align: justify;">Skilllinx Training and Development has the right to not accept a registration request.</li>
	<li style="text-align: justify;">If a registration request is made using the Skilllinx Training and Development website, you will be able to download an automatic tentative confirmation file or you will receive a tentative file by email. All registration requests are subject to availability.</li>
	<li style="text-align: justify;">A registration request should only be deemed to be accepted when you receive an invoice in respect of the registration request.</li>
</ol>

<p><strong>B-Tentative Registrations (TRC OR MTR Tentative Registrations Documents)</strong></p>

<ol>
	<li style="text-align: justify;">The fee to attend a course must be paid and credited into our bank account&nbsp;in full before or on the expiration date of the invoice as it is instructed in the invoice of the tentative registration document.</li>
	<li style="text-align: justify;">Course payment receipt or bank transfer course payment document must be sent before or on the expiration date of the invoice as it is instructed in the invoice of the tentative registration document.</li>
	<li style="text-align: justify;">Skilllinx Training and Development has the right to refuse an attendee entry to the course or to cancel the tentative registration at anytime if the course fee is not paid and credited into our bank account or if the payment receipt is not received before or on the expiration date of the invoice as it is instructed in the invoice of the tentative registration document.</li>
	<li style="text-align: justify;">In the event of cancellation, Skilllinx Training and Development shall not be liable for any other loss or expense arising and there will be no refund if the course fees is paid.</li>
	<li style="text-align: justify;">In the event of cancellation, Skilllinx Training and Development could let the partcipant attending the same course title online (virtually)&nbsp;that he or she is registered in .</li>
</ol>

<p style="text-align: justify;"><strong>C-Course fee and payment</strong></p>

<ol>
	<li style="text-align: justify;">The fee to attend a course must be paid in full before the date of the course , in the due date , as it is instructed in the invoice .</li>
	<li style="text-align: justify;">Skilllinx Training and Development has the right to refuse an attendee entry to the course or to cancel the registration at anytime if the course fee is not paid before the date of the course , in the due date , as it is instructed in the invoice.In the event of cancellation, Skilllinx Training and Development shall not be liable for any other loss or expense arising.</li>
	<li style="text-align: justify;">The price does not include travel, accommodation, meals or other related expenses unless explicitly stated.</li>
</ol>

<p style="text-align: justify;"><strong>D-Cancellations &amp; Transfers</strong></p>

<ol>
	<li style="text-align: justify;">The partcipant must advise Skilllinx Training and Development of a cancellation in writing.</li>
	<li style="text-align: justify;">If a partcipant does not advise of a cancellation in writing before the date of the course, the full course fee will be payable.</li>
	<li style="text-align: justify;">If a partcipant cancels a booking 14 calendar days or more before the date of the course, 0.00 % of the course fee will still be payable.</li>
	<li style="text-align: justify;">If a partcipant cancels a booking less than 13&nbsp;calendar days before the date of the course,100% of the course fee will be payable.</li>
	<li style="text-align: justify;">If a partcipant can no longer attend a course date, they can nominate another person to attend the same course date in their place,but Skilllinx Training and Development must be notified before three days prior to course start date.</li>
	<li style="text-align: justify;">If a partcipant can no longer attend, they can be transferred to another course at no extra cost if they advise us 10 calendar days or more before the course date. The course must have the same previous course fees .</li>
	<li style="text-align: justify;">If a partcipant can no longer attend and they advise us less than 10 calendar days before the course date, 100% of the course fee will be payable.</li>
	<li style="text-align: justify;">Skilllinx Training and Development has the right to cancel a course registration after acceptance of nominations at anytime. In this event , Skilllinx Training and Development will reimburse in full any course fees paid and Skilllinx Training and Development's liability will be limited to the value of the course fees paid.</li>
</ol>

<p style="text-align: justify;"><strong><span style="text-align: justify;">E-Refund Policy</span></strong></p>

<ol>
	<li style="text-align: justify;">All courses cancelled up to 14 days before the course start date: full refund of of the course fee only.</li>
	<li style="text-align: justify;">All courses cancelled less than 13&nbsp;days before the course start date: 100% of the fee still applies.(no refund will be given).</li>
	<li style="text-align: justify;">No show on the date of the course: 100% of the fee still applies (no refund will be given).</li>
</ol>




<p style="text-align: justify;"><em><strong>Updated on 23 May 2018</strong></em></p>











</div>






							</div>


							<!-- Card body START -->
						</div>
					</div>
					<!-- About course END -->






</div></div></div>
</section>

{% include 'footer.html' %}
{% endblock %}


</body>
</html>